.dart_tool/
.idea/
build/

.flutter-plugins
.flutter-plugins-dependencies

linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.*
macos/flutter/GeneratedPluginRegistrant.*
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.*